* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
    
}
.navicon{
    width: 4px;
    height: 50px;
    display: flex;
 cursor: pointer;
 line-height: 80px;
 transition: 0.1s;
 transform: rotateY(180deg);
 

}
.navicon:checked +img {
    transform: rotateY(180deg);
}
.navicon:hover{
    color: aliceblue;
}

.setall{
    background-image: url(nasa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 8px;
  width: 95%;
  height: 120px;
}
.set1{
    width: 1440px;
    max-width: 95%;
    margin: 0 auto;

}
.navbar{
    display: flex;
    justify-content: space-between;

    padding: 5px 20px;

 
    
    
}
.navlogo{
    width: 80px;
    height: 65px;
    display: flex;
  
    
    
}
a{
    color: aliceblue;
    cursor: pointer;
    
    
}
a:hover{
    color: aqua;
}
.navlogo ul li  {

    display: flex;
    align-items: center;

    gap: 60px;



}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 70px;
}
.set3 h1{
    color: aliceblue;
}
.set3{
   padding: 200px ;
   
   
   text-align: center;
   color: aliceblue;
   display: block;
   width: 50%;
   
}
button{
    background-color: blue;
    color: aliceblue;
border-radius: 15%;
border-style: inherit;
font-size: larger;
cursor: pointer;
}
button:hover{
  background-color: aliceblue;
  color: black;
}
.div1{
  height: 550px;
   width: 700px;
   margin-top: -500px;
   position: fixed;
 color: aliceblue;
   right: 0px;
   display: flex;
}
.div2{
    width: 30%;

    text-align: center;
    cursor: pointer;
    
  
}
  .div2 img{
    width: 180px;
    height: 190px;
    cursor: pointer;
    
  }
  .div3 img{
    width: 180px;
    height: 190px;
    cursor: pointer;

  }
  .div4 img{
    width: 180px;
    height: 190px;
    cursor: pointer;

  }
 
 
  


  
   

